.upload-filter-label-phobos .upload-filter-preview,
.filter-phobos {
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
}

.upload-filter-label-heat .upload-filter-preview,
.filter-heat {
  -webkit-filter: hue-rotate(20deg) brightness(1.4);
          filter: hue-rotate(20deg) brightness(1.4);
}

.upload-filter-controls input[type=radio] {
  visibility: visible;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
